<div class="container">
<div class="main">
	<!-- start registration -->
	<div class="registration">
		<div class="registration_left">
		<h2>new user? <span> create an account </span></h2>
	
		 <div class="registration_form">
		 <!-- Form -->
			<form id="registration_form"#SignupForm="ngForm" (ngSubmit)="SignUser(SignupForm)">
				<div>
					<label>
						<input #firstname="ngModel" ngModel placeholder="first name:" type="text" tabindex="1" required autofocus>
					</label>
				</div>
				<div>
					<label>
						<input #lastname="ngModel" ngModel  placeholder="last name:" type="text" tabindex="2" required autofocus>
					</label>
				</div>
				<div>
					<label>
						<input #Username="ngModel" ngModel placeholder="user name:" type="text" tabindex="3" required autofocus>
					</label>
				</div>
				<div>
					<label>
						<input #email="ngModel" ngModel placeholder="email:" type="email" tabindex="4" required>
					</label>
				</div>
				<!--<div class="sky-form">
					<div class="sky_form1">
						<ul>
							<li><label class="radio left"><input type="radio" #gender name="radio" checked=""><i></i>Male</label></li>
							<li><label class="radio"><input type="radio" name="radio"><i></i>Female</label></li>
							<div class="clearfix"></div>
						</ul>
					</div>
				</div>-->
				<div>
					<label>
						<input #contact_no="ngModel" ngModel placeholder="contact-no:" type="tel" tabindex="5" required>
					</label>
				</div>
				<div>
					<label>
						<input #city="ngModel" ngModel placeholder="city:" type="text" tabindex="6" required>
					</label>
				</div>
				<div>
					<label>
						<input #country="ngModel" ngModel placeholder="country:" type="text" tabindex="7" required>
					</label>
					<div>
					<label>
						<input #address="ngModel" ngModel placeholder="address:" type="text" tabindex="8" required>
					</label>
				</div>
				</div>
				<div>
					<label>
						<input #password="ngModel" ngModel placeholder="password:" type="password" tabindex="9" required>
					</label>
				</div>						
				<div>
					<label>
						<input  placeholder="retype password:" type="password" tabindex="10" required>
					</label>
				</div>	
				<div>
          {{response}}
					<input type="submit" value="create an account" id="register-submit">
				</div>
				<div class="sky-form">
					<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>i agree to shoppe.com &nbsp;<a class="terms" > terms of service</a> </label>
				</div>
			</form>
			<!-- /Form -->
		</div>
	</div>
	
	<div class="clearfix"></div>
	</div>
	<!-- end registration -->
</div>
</div>