<div class="arriv"  >
	
	<div class="container" >
		
		<div class="arriv-top" >
			
			<div class="col-md-6 arriv-left" style="margin-bottom:20px" *ngFor="let data of subcat"  >
			
				<img src="assets/images/{{data.image}}" class="img-responsive" alt="">
				<div class="arriv-info">
					<h3>{{data.name}}</h3>
					<p>{{data.descripton}}</p>
					<div class="crt-btn">
						<a href="products/{{data.id}}" >TAKE A LOOK</a>
					</div>
				</div>
				
			</div>


<div class="clearfix"> </div>




		</div>
	</div>
</div>
