<div class="container">
<div class="main">
	<!-- start registration -->
	<div class="registration">
		<div class="registration_left">
		<h2>new user? <a><span style="cursor: pointer" routerLink="/register"> create an account </span> </a> </h2>


		 <div class="registration_form">
		 <!-- Form -->
		
			<!-- /Form -->
		</div>
	</div>
	<div class="registration_left">
		<h2>existing user</h2>
		 <div class="registration_form">
		 <!-- Form -->
			<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)" id="registration_form">
				<div>
					<label>
						<input placeholder="username" name="username" type="text" tabindex="3" ngModel required #username="ngModel">
					</label>
				</div>
				<div>
					<label>
						<input placeholder="password" name="password" type="password" tabindex="4" ngModel  required #password="ngModel">
					</label>
				</div>						
				<div>
          {{response}}
					<input type="Submit" value="sign in" id="register-submit"  >

				</div>
				<div class="forget">
					<a href="#">forgot your password</a>
				</div>
			</form>
			<!-- /Form -->
			</div>
	</div>
	<div class="clearfix"></div>
	</div>
	<!-- end registration -->
</div>
</div>