<div class="arriv"  >
	
	<div class="container" >
		
		<div class="arriv-top" >
			
			<div class="col-md-6 arriv-left" style="margin-bottom:30px" *ngFor="let collection of cat"  >
			
				<img src="assets/images/{{collection.image}}" class="img-responsive" alt="">
				<div class="arriv-info">
					<h3>{{collection.name}}</h3>
					<p>{{collection.descripton}}</p>
					<div class="crt-btn">
						<a routerLink="/sub-category/{{collection.id}}">TAKE A LOOK</a>
					</div>
				</div>
				
			</div>


<div class="clearfix"> </div>




		</div>
	</div>
</div>
